<footer class="footer pt-3">
  <p class="text-center mb-1"><%= t("footer.powered_by", href: link_to("Space Shaala Pvt Ltd", "https://spaceshaala.com/", target: "_blank")).html_safe %> &copy;  SSERD 2020</p>
</footer>

<%= render "shared/components/cookie_warning" %>